
  header{
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
  }
  
  header a{
    text-decoration: none;
    cursor: pointer;
    color:black;
  }
  
  header a:hover , a:visited {
    text-decoration: underline;
    color: grey;
  }
  
  #image-app{
    position: relative;
    bottom: 7px;
    padding-right: 5px;
    size: 5px;
  }
  
  .button-log{
    position : relative;
    bottom: 10px;
    font size: 13px;
    padding: 0 12px;
    color: whitesmoke;
    background-color: #4285F4;
    border: 1px solid #4285f4;
    border-radius: 4px;
    line-height: 28px;
    margin-left: 10px;
    margin-right: 15px;
    cursor: pointer;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  ul{
    list-style: none;
    display: inline-flex;

  }
  
  li{
    padding-right: 12px;
    font-size: 13px;
    font-family: Arial, sans-serif;
  }
  
  nav img{
    height: 30px;
  }

  #logo-marsha{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 200px;
    margin-top: -15px;
  }
 
  #search-bar{
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    width: 482px;
    justify-content: center;
    padding: 0;

  }
  
  #search-bar input{
    display: flex;
    justify-content: center;
    width: auto;
    width: 510px;
    border-radius: 24px;
    height: 44px;
    margin: 0 auto;
    width: 482px;
    cursor: text;


    
  }
   
  
  #form-search{
    width: 100%;
  }
  
  #search-image{
    float: left;
    margin-top: 7px;
    margin-left: 5px;
  }
  
  #div-button{
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    margin-top: 15px;
  }
  
  .button{
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 6px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
  }
  
  
  .button:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
  }

  footer{
    font-size: 14px;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    line-height: 40px;
    min-width: 980px;
    bottom: 0;
    position: fixed;
    z-index: 104;
    width: 100%;
  }
  
  footer p{
    margin-top: 0;
    margin-bottom: 0;
  }

  #country{
    border-top: 1px solid #e4e4e4;
    padding-left: 25px;
    color: #5F6368;
  }

  #foot-redirection{
    border-top: 1px solid #e4e4e4;
    flex-wrap: nowrap;
    color: #5F6368;  
  }

  #foot-left{
    float: left;
  }

  #foot-right{
    float: right;
    margin-right: 27px;
  }

  footer a{
    padding-left: 27px;
    text-decoration: none;
    color:#5F6368;
  }

  footer a:hover{
    text-decoration: underline;
  }
  
  footer a:visited{
    color:#5F6368;
  }